body, html, #root {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.App {
  overflow:hidden;
}

.cf-header {
  width:100%;
  height:65px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background:#fff;
  padding:0 16px;

}

.cf-logo {
  display:flex;
  align-items: center;
  justify-content: center;
  color:#3f46dd;
}

.cf-header h1 {
  font-size:20px;
  text-align: left;
  margin:0;
  color:#3f46dd;
  font-weight:800;
  margin-left:12px;
}

.cf-user-icon {
  width: 40px;
  height:40px;
  border-radius:50%;
  overflow:hidden;
  background:#3f46dd;
}

.cf-editor-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 65px);
}

.cf-editor-container-section {
  display:flex;
  flex-direction:column;
  width:50%;
  height:100%;
  box-sizing: border-box;
  padding: 0 8px;
}

.cf-editor-container-section:first-child {
  padding-right:4px;
}
.cf-editor-container-section:last-child {
  padding-left:4px;
}

.cf-editor {
  display:flex;
  flex-direction: column;
  height:50vh;
  width:100%;
  border-radius:8px;
  overflow:hidden;
  box-sizing: border-box;
  border-left:3px solid #3f46dd;
  border-right:3px solid #3f46dd;
  border-bottom:3px solid #3f46dd;
  margin-bottom:8px;
  background:#f1f0fe;
}

.cf-editor:first-child:is(:last-child) {
  height:100vh;
}

.cf-editor-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background:#3f46dd;
  box-sizing: border-box;
  padding:4px 12px;
}

.cf-editor-header h2 {
  font-size:16px;
  color:#fff;
  font-weight:400;
  margin:0;
}

.cf-options button {
  padding:0;
}

.cf-options .material-symbols-outlined {
  font-size:20px;
}

.cf-editor-monaco {
  height:100%;
  border-radius:8px;
  overflow:hidden;
  margin:6px;
}

.cf-editor-monaco iframe {
  border:0px;
  box-sizing: border-box;
}

button {
  cursor:pointer;
  background:transparent;
  color:#fff;
  border:0;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
}

button:hover {
  color:#fff;
}